@import url("default.css");

div#module-dta div.figure {
  border: 2px solid #999999;
  background-color:white;
  padding: 1em;
}

div.body h1 {
  font-size: 150%;
  page-break-after: avoid;
}

p.graphviz {
  page-break-before: avoid;
  page-break-after: avoid;
}